legal.txt
.svn
xilinx
obj_dir
obj-pc
bin-pc
obj-zip
archives
*.o
*.a
*.vcd
*.glade~
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
cpudefs.h
thismonth
thisweek
totalhrs
xtimesheet
gladef.cpp
gladef.h
sm_splash.cpp
.vscode
*.txt